__pycache__/
*.py[cod]
*.so
.DS_Store
.ipynb_checkpoints/

data/
runs/
logs/
outputs/
cache/
src/precomputed_arrays/*.npy
*.pth
*.ckpt
*.sdf
*.mol2
*.pdb
*.pqr
*.dx
*.ply
!examples/*.csv
!src/precomputed_arrays/.gitkeep
!checkpoints/**/*.pt
